{% extends 'layouts/main.html' %}
{% block title %}Users{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Users</h1>
</div>

<p><a href="{{ url_for('auth.new_user') }}" class="btn btn-primary">New user</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
